<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Energia Ventosa</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="Energia Ventosa's landing page" />
  <link rel="icon" type="image/png" href="{{ url_for('static', path='favicon.png') }}">
  <link rel="stylesheet" type="text/css" href="../static/all.css">
</head>
<body>
  <!-- navbar -->
  <nav style="background-color: #e7ce3f; padding: 10px; box-shadow: 0 0 20px #000000b7; z-index: 0;">
    <div style="display: flex; justify-content: space-between; flex-direction: row; align-items: center; gap: 10px; padding: 0px 40px">
      <a style="text-decoration: none; color: black;" href="/admin">
        <h1>
          Energia Ventosa
        </h1>
      </a>
        <h3>
          <a style="text-decoration: none; color: black;" href="/admin">
            Home
          </a>
        </h3>
        <h3>
          <a style="text-decoration: none; color: black;" href="/submissions">
            Contact Submissions
          </a>
        </h3>
        <h3>
          <a style="text-decoration: none; color: black;" href="/accounts">
            User Accounts
          </a>
        </h3>
        <h3>
          <a style="text-decoration: none; color: black;" href="/signout">
            Signout
          </a>
        </h3>
        <h3 style="color: rgb(255, 255, 255); font-size: 26px; font-weight: 700;">
          Admin
        </h3>
    </div>
  </nav>
  {% if username %}
  <div style="display: flex; flex-direction: row;  align-content: center; justify-content: center">
    <div style="display: flex; flex-direction: column; padding: 20px 40px; gap: 40px; align-content: center; justify-content: center">
      <h2>
        Hello, admin!
      </h2>
      <p>
        This is the admin dashboard. Here you can view all contact submissions and user accounts.
      </p>
    </div>
  </div>
  {% endif %}
  <footer style="position: absolute; bottom: 0"
    <p>
      &copy; 2024 - Energia Ventosa
    </p>
  </footer>
</body>
<script>
  document.getElementById("login").addEventListener("submit", function(event) {
    event.preventDefault();
    const username = document.getElementById("username").value;
    const password = document.getElementById("password").value;
    fetch("/login", {
      method: "POST",
      headers: {
        "Content-Type": "application/json"
      },
      body: JSON.stringify({ username, password })
    }).then(response => {
      if (response.ok) {
        console.log("Login successful!");
      } else {
        alert("Login failed!");
      }
    });
  });
</script>
</html>
