<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>About Us</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="Energia Ventosa's landing page" />
  <link rel="icon" type="image/png" href="{{ url_for('static', path='favicon.png') }}">
  <link rel="stylesheet" type="text/css" href="../static/all.css">
</head>
<body>  <!-- navbar -->
  <nav style="background-color: #e7ce3f; padding: 10px; box-shadow: 0 0 20px #000000b7; z-index: 0;">
    <div style="display: flex; justify-content: space-between; flex-direction: row; align-items: center; gap: 10px; padding: 0px 40px">
      <a style="text-decoration: none; color: black;" href="/">
        <h1>
          Energia Ventosa
        </h1>
      </a>
        <h3>
          <a style="text-decoration: none; color: black;" href="/">
            Home
          </a>
        </h3>
        <h3>
          <a style="text-decoration: none; color: black;" href="/about">
            About
          </a>
        </h3>
        <h3>
          <a style="text-decoration: none; color: black;" href="/data">
            Data
          </a>
        </h3>
        <h3>
          <a style="text-decoration: none; color: black;" href="/contact">
            Contact
          </a>
        </h3>
    </div>
  </nav>

  <div class="centering_container">
    <div class="contact" style="margin: 20px; padding: 20px 40px; border: 1px solid black; border-radius: 10px; display: flex; flex-direction: column; width: 100%">
      <h3>Contact Us</h3>
      <form id="contactForm" action="/contact" method="POST" style="display: flex; flex-direction: column; gap: 10px">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required style="padding:10px; border-radius: 10px;">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required style="padding:10px; border-radius: 10px;">
        <label for="phone">Phone number:</label>
        <input type="tel" id="phone" name="phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}|[0-9]{10}" required style="padding:10px; border-radius: 10px;">
        <label for="message">Message:</label>
        <textarea id="message" name="message" required style="padding:10px; border-radius: 10px; height: 80px"></textarea>
        <button type="submit" style="padding: 20px 0px; background-color: #e7ce3f; width: 200px; align-self: center; border-radius: 20px">
          <p style="font-size: 20px; margin: 0px; font-weight: 500;">
            Submit
          </p>
        </button>
      </form>
      <p id="response" style="display: none; color: green; font-weight: 500; text-align: center;">Message sent!</p>
    </div>
  </div>
  <footer style="position: absolute; bottom:0">
    <p>
      &copy; 2024 - Energia Ventosa
    </p>
  </footer>
  <script>
    const form = document.getElementById('contactForm')
    form.addEventListener('submit', async function(event) {
      event.preventDefault();
      const form = event.target;
      const formData = new FormData(form);
      const data = new URLSearchParams(formData);
      const response_elem = document.getElementById('response');

      try {
        const response = await fetch('/contact', {
          method: 'POST',
          body: data,
        });
        if (!response.ok) {
          throw new Error('Submission failed');
        }
        const result = await response.json();
        console.log('Submission successful');
        response_elem.style.display = 'block';
        form.reset();
        } catch (error) {
          alert(error.message);
        }
    });
  </script>
</body>
</html>