<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>About Us</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="Energia Ventosa's landing page" />
  <link rel="icon" type="image/png" href="{{ url_for('static', path='favicon.png') }}">
  <link rel="stylesheet" type="text/css" href="../static/all.css">
</head>
<body>  <!-- navbar -->
  <nav style="background-color: #e7ce3f; padding: 10px; box-shadow: 0 0 20px #000000b7; z-index: 0;">
    <div style="display: flex; align-content: center; justify-content: space-between; flex-direction: row; align-items: center; gap: 10px; padding: 0px 40px">
      <a style="text-decoration: none; color: black;" href="/">
        <h1>
          Energia Ventosa
        </h1>
      </a>
        <h3>
          <a style="text-decoration: none; color: black;" href="/">
            Home
          </a>
        </h3>
        <h3>
          <a style="text-decoration: none; color: black;" href="/about">
            About
          </a>
        </h3>
        <h3>
          <a style="text-decoration: none; color: black;" href="/data">
            Data
          </a>
        </h3>
        <h3>
          <a style="text-decoration: none; color: black;" href="/contact">
            Contact
          </a>
        </h3>
    </div>
  </nav>
  <div style="display: flex; flex-direction: row; align-items: center; justify-content: center">
    <div class="data">
      <div>
        <h3>Section A</h3>
        <img src="../static/turbine_cluster.png" style="width: 175px; height: 220px; align-self: center;" />
        <div>
          <h4>Turbine Group Data</h4>
          <li>Speed: 10mph</li>
          <li>RPM: 30</li>
        </div>
      </div>
      <div>
        <h3>Section B</h3>
        <img src="../static/turbine_cluster.png" style="width: 175px; height: 220px; align-self: center;" />
        <div>
          <h4>Turbine Group Data</h4>
          <li>Speed: 10mph</li>
          <li>RPM: 30</li>
        </div>
      </div>
      <div>
        <h3>Section C</h3>
        <img src="../static/turbine_cluster.png" style="width: 175px; height: 220px; align-self: center;" />
        <div>
          <h4>Turbine Group Data</h4>
          <li>Speed: 10mph</li>
          <li>RPM: 30</li>
        </div>
      </div>
      <div>
        <h3>Section D</h3>
        <img src="../static/turbine_cluster.png" style="width: 175px; height: 220px; align-self: center;" />
        <div>
          <h4>Turbine Group Data</h4>
          <li>Speed: 10mph</li>
          <li>RPM: 30</li>
        </div>
      </div>
    </div>
  </div>
  <footer>
    <p>
      &copy; 2024 - Energia Ventosa
    </p>
  </footer>
</body>
</html>