<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>About Us</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="Energia Ventosa's landing page" />
  <link rel="icon" type="image/png" href="{{ url_for('static', path='favicon.png') }}">
  <link rel="stylesheet" type="text/css" href="../static/all.css">
</head>
<body>  <!-- navbar -->
  <nav style="background-color: #e7ce3f; padding: 10px; box-shadow: 0 0 20px #000000b7; z-index: 0;">
    <div style="display: flex; align-content: center; justify-content: space-between; flex-direction: row; align-items: center; gap: 10px; padding: 0px 40px">
      <a style="text-decoration: none; color: black;" href="/">
        <h1>
          Energia Ventosa
        </h1>
      </a>
        <h3>
          <a style="text-decoration: none; color: black;" href="/">
            Home
          </a>
        </h3>
        <h3>
          <a style="text-decoration: none; color: black;" href="/about">
            About
          </a>
        </h3>
        <h3>
          <a style="text-decoration: none; color: black;" href="/data">
            Data
          </a>
        </h3>
        <h3>
          <a style="text-decoration: none; color: black;" href="/contact">
            Contact
          </a>
        </h3>
    </div>
  </nav>
  {% if username %}
  <div style="display: flex; flex-direction: column; align-items: center; justify-content: center">
    <div class="data">
      {% for turbine_farm in farm_data %}
      <div>
        <h3>Turbine Farm {{turbine_farm['turbinefID']}}</h3>
        <img src="../static/turbine_cluster.png" style="width: 175px; height: 220px; align-self: center;" />
        <div>
          <h4>Turbine Group Data</h4>
          <span style="display: flex; flex-direction: row; gap: 10px;">
            <li>Turbine Status: </li>
            {% if turbine_farm['turbineStatus'] == "up" %}
            <p style="color: green; align-self: center; justify-self: start; margin: 0">{{turbine_farm['turbineStatus']}}</p>
            {% else %}
            <p style="color: red; align-self: center; justify-self: start; margin: 0">{{turbine_farm['turbineStatus']}}</p>
            {% endif %}
          </span>
          <span style="display: flex; flex-direction: row; gap: 10px;">
            <li>Turbine Direction: </li>
            <p style="color: green; align-self: center; justify-self: start; margin: 0">{{turbine_farm['turbineDirection']}}</p>
          </span>
          <span style="display: flex; flex-direction: row; gap: 10px;">
            <li>Turbine Generation: </li>
            <p style="color: green; align-self: center; justify-self: start; margin: 0">{{turbine_farm['turbineGeneration']}}</p>
          </span>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% else %}
  <div style="display: flex; flex-direction: column; align-items: center; justify-content: center">
    <h1>Unauthorized Access</h1>
    <p>You are not authorized to view this page. Please log in to view this page.</p>
  </div>
  {% endif %}
  {% if username %}
  <footer>
  {% else %}
  <footer style="position: absolute; bottom:0">
  {% endif %}
    <p>
      &copy; 2024 - Energia Ventosa
    </p>
  </footer>
</body>
</html>