<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Energia Ventosa</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="hi this is a test website that will be seen by no one" />
  <link rel="icon" type="image/png" href="{{ url_for('static', path='favicon.png') }}">
  <link rel="stylesheet" type="text/css" href="../static/all.css">
</head>
<body>
  <!-- navbar -->
  <nav style="background-color: #e7ce3f; padding: 10px; box-shadow: 0 0 20px #000000b7; z-index: 0;">
    <div style="display: flex; justify-content: space-between; flex-direction: row; align-items: center; gap: 10px;">
      <a style="text-decoration: none; color: black;">
        <h1>
          Energia Ventosa
        </h1>
      </a>
        <h3>
          <a style="text-decoration: none; color: black;">
            Home
          </a>
        </h3>
        <h3>
          <a style="text-decoration: none; color: black;">
            About
          </a>
        </h3>
        <h3>
          <a style="text-decoration: none; color: black;">
            Data
          </a>
        </h3>
        <h3>
          <a style="text-decoration: none; color: black;">
            Contact
          </a>
        </h3>
    </div>
  </nav>
  <!-- hero image -->
  <img src="../static/turbineimage.png" style="width: 100%; height: auto; z-index: 10;" />
</body>
</html>
