<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Energia Ventosa</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="Energia Ventosa's landing page" />
  <link rel="icon" type="image/png" href="{{ url_for('static', path='favicon.png') }}">
  <link rel="stylesheet" type="text/css" href="../static/all.css">
</head>
<body>
  <!-- navbar -->
  <nav style="background-color: #e7ce3f; padding: 10px; box-shadow: 0 0 20px #000000b7; z-index: 0;">
    <div style="display: flex; justify-content: space-between; flex-direction: row; align-items: center; gap: 10px; padding: 0px 40px">
      <a style="text-decoration: none; color: black;" href="/">
        <h1>
          Energia Ventosa
        </h1>
      </a>
        <h3>
          <a style="text-decoration: none; color: black;" href="/">
            Home
          </a>
        </h3>
        <h3>
          <a style="text-decoration: none; color: black;" href="/about">
            About
          </a>
        </h3>
        <h3>
          <a style="text-decoration: none; color: black;" href="/data">
            Data
          </a>
        </h3>
        <h3>
          <a style="text-decoration: none; color: black;" href="/contact">
            Contact
          </a>
        </h3>
    </div>
  </nav>
  <!-- hero image -->
  <div style="max-height: 70vh; overflow: hidden;">
    <img src="../static/turbineimage.png" style="width: 100%; height: auto; z-index: 10;" />
  </div>
  <div style="background: #f8f5f5; padding-top: 50px; padding-bottom: 10px;">
    <div style="padding: 20px; border-radius: 10px;">
      <p style="font-size: 20px;">
        At Energia Ventosa, we harness the relentless power of the wind to fuel our vast empire
        of energy consumption. Our turbines, tirelessly spinning, generate electricity that powers
        everything from bustling cities to remote outposts. While we boast about our green
        credentials and renewable energy, the truth is less innocent. Behind our clean facade
        lies a darker reality: our insatiable hunger for energy drives us to control every gust,
        every breeze, to ensure our dominance. And should our turbines ever slow, the world
        won't just face a temporary blackout - it will plunge into chaos, revealing the true extent
        of our control over the wind itself. The skies whisper of our grip, and in that silence, our
        true power becomes undeniable.
      </p>
    </div>
  </div>
  {% if username %}
  <div style="display: flex; flex-direction: row; padding: 20px 40px; gap: 40px; align-content: center; justify-content: center">
      <h2>
        You are logged in as: {{ username }}
      </h2>
      <a href="/signout" style="padding: 20px 0px; background-color: #e7ce3f; width: 100px; align-self: center; border-radius: 20px; align-items: center; text-decoration: none; text-align: center; color: black; font-size: 18px">
        Signout
      </a>
  </div>
  {% else %}
  <div style="display: flex; flex-direction: row; align-content: center; justify-content: center; width: 100%; margin-bottom: 40px">
    <div style="padding: 20px 40px; margin: 10px; border: 1px solid black; border-radius: 10px; display: flex; flex-direction: column">
      <h2>
        Login
      </h2>
      <form id="loginForm" action="/login" method="post" style="display: flex; flex-direction: column; gap: 10px">
        <label for="username">Email:</label>
        <input type="text" id="username" name="username" required style="padding:10px; border-radius: 10px;">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required style="padding:10px; border-radius: 10px;">
        <button type="submit" style="padding: 20px 0px; background-color: #e7ce3f; width: 100px; align-self: center; border-radius: 20px">Login</button>
    </div>
  </div>
  {% endif %}

  <footer>
    <p>
      &copy; 2024 - Energia Ventosa
    </p>
  </footer>
  <script>
    document.getElementById('loginForm').addEventListener('submit', async function(event) {
      event.preventDefault();
      const form = event.target;
      const formData = new FormData(form);
      const data = new URLSearchParams(formData);

      try {
        const response = await fetch('/login', {
          method: 'POST',
          body: data,
        });
        if (!response.ok) {
          throw new Error('Login failed');
        }
        const result = await response.json();
        console.log('Login successful');
        window.location.href = result.redirect;
        } catch (error) {
          alert(error.message);
        }
    });
  </script>
</body>
</html>
